body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    p {
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
